@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';

.submitButton{
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  line-height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 3em;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--inactive{
    background-color: $elephant-paw;
  }

  &__icon {
    position: absolute;
    right: 1em;
  }

  &__iconLoader {
    @include spinAnimation(2s)
  }

}
